@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to top, #2c8cc7, #00dcbf);
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.phone {
  position: relative;
  width: 320px;
  height: 600px;
  min-width: 320px;
  overflow: hidden;
  border: 15px solid #1c1e27;
  border-radius: 42px;
}

.phone .notch {
  background-color: #1c1e27;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  height: 25px;
  width: 170px;
  z-index: 1;
  border-radius: 0 0 30px 30px;
}

.phone .content {
  opacity: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 60px);
  transition: opacity 0.4s ease;
}

.phone .content.show {
  opacity: 1;
}

nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: -5px;
}

nav ul {
  background-color: #fff;
  display: flex;
  height: 60px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  color: #777;
  flex: 1;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

nav ul li p {
  font-size: 12px;
  margin: 2px 0;
}

nav ul li:hover,
nav ul li.active {
  color: #32b16b;
}
